.block-uw-cbl-ofis-expert-search .form-submit {
  margin: 0;
}

.ofis-results .research-interests {
  margin: 0;
  padding: 1rem;
  display: block;
}

.ofis-results .research-interests ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px),1fr));
}

.ofis-results .research-interests li {
  padding: 0;
}
