.uw-content-moderation {
  width: 100%;
}

.uw-content-moderation__wrapper {
  background-color: #ffebc5;
  max-width: 63rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
