{% include '@components/facebook/facebook.twig' with {
  'feed_type': facebook.feed_type,
  'username': (facebook.feed_type == 'timeline') ? facebook.username : '',
  'url': (facebook.feed_type == 'singlepost') ? facebook.url : '',
} %}
