{% if teaser.type and teaser.type == 'bibcite' %}
  {{ teaser.teaser }}
{% else %}
  {% include '@components/card/card--teaser/_card--teaser.twig' with {
    'teaser': teaser,
    'type': 'teaser',
  } %}
{% endif %}
