{% include '@components/image-gallery/_image-gallery.twig' with {
  'images': image_gallery.images,
  'type': image_gallery.type,
  'nav': image_gallery.nav,
  'caption_format': image_gallery.caption_format,
  'caption_alignment': image_gallery.caption_alignment,
  'display_images': image_gallery.display_images,
} %}
