<noscript>
  <p>JavaScript must be enabled to perform this search.</p>
</noscript>
{% if search %}
  {% if search.label %}
    <label for="edit-search-input-{{ search.uuid }}" class="visually-hidden">{{ search.label }}</label>
  {% endif %}

  {{ search.form }}

  <div id="ofis-results-{{ search.uuid }}" class="ofis-results" aria-live="polite">
    {% if search.presearch_notice %}
      <p>{{ search.presearch_notice }}</p>
    {% endif %}
  </div>
{% endif %}

