{% include "@components/codepen/codepen.twig" with {
  'slug_hash': codepen.id,
  'username': codepen.username,
  'pen_title': codepen.title,
  'displayname': codepen.author,
  'default_tab': codepen.default_tabs,
  'height': codepen.height,
  'theme_id': 'dark',
  'preview': 'true',
} %}
