{% include "@components/twitter/twitter.twig" with {
  'feed_type': twitter.feed_type,
  'username': twitter.username,
  'tweet_code': twitter.tweet_code,
  'list_name': twitter.list_name,
  'url_fragment': twitter.url_fragment,
  'timeline_name': twitter.timeline_name
} %}
