{{ attach_library('uw_custom_blocks/uw_content_moderation') }}

{% set revision_status = mods.status ? "Published" : "Unpublished" %}
<div class="uw-content-moderation">
  <div class="uw-content-moderation__wrapper">
    <div>Published status: <i> {% if mods.status %} Published {% else %} Unpublished {% endif %} </i></div>
    <div>Most recent version: <i>{{ mods.latest }}</i></div>
    {% if mods.moderation_link %}<div>Actions: {{ mods.moderation_link }}</div>{% endif %}
  </div>
</div>
