{% if items.type == 'view' %}
  {{ items.view }}
{% else %}
  {% include  "@components/view/view-lists/view-lists.twig" with {
    'items': items.items,
    'type': items.type,
    'style': items.style
  } %}
{% endif %}
