{% if form_search %}

  {% if form_search.label %}
    <label for="edit-search-input-{{ form_search.uuid }}" class="visually-hidden">{{ form_search.label }}</label>
  {% endif %}

  {% if form_search.error %}
    {{ form_search.error }}
  {% else %}
    {% include '@components/form-view-search/form-view-search.twig' with {
      'form_search': form_search.form
    } %}
  {% endif %}
{% endif %}
