{% if catalog_search %}

  {% if catalog_search.error %}
    {{ catalog_search.error }}
  {% else %}
    {% include '@components/catalog-search/catalog-search.twig' with {
      'catalog_search': catalog_search
    } %}
  {% endif %}
{% endif %}
